**/bin/
**/obj/
**/.git
**/TestResults/
**/.vs/
**/.vscode/
**/node_modules/
**/*.user
**/*.suo
.env
.env.*
**/appsettings.local.json
**/*.pfx
**/*.key
**/secrets/
**/local.settings.json
Dockerfile*
docker-compose.yml
docker-compose.override.yml
docker-compose.debug.yml
**/coverage/
README.md
